// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-container {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 515px;
  padding-top: 92px;

  input.form-control {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
  button.btn-outline-light:hover {
    background-color: #d4d4d4;
  }
}

.img-container {
  display: flex;
  margin-bottom: 40px;
  img {
    width: auto;
    height: 120px;
  }
}

.content-container {
  display: flex;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  p {
    font-size: 12px;
    color: rgb(186, 186, 186);
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 1.6rem;
    }
    p {
      font-size: 8px;
    }
  }
}

form div.invalid-feedback {
  margin-top: 10px;
}

.claim-event-list-container,
.empty-records-container {
  margin-top: 20px;
  min-height: 620px;

  @media only screen and (max-height: 1024px) {
    min-height: 263px;
  }
  @media only screen and (max-width: 700px) {
    h2 {
      font-size: 1.5rem;
    }
  }
}

div.empty-records-container {
  h2 {
    color: #bababa;
  }
  .text-center {
    min-width: 200px;
  }
}
